.row
  .col-xs-12
    %h2 本の貸出
  - flash.each do |key, value|
    .col-xs-12(class='alert alert-#{key}')
      = "#{value}"
  - if @company_collections.exists?
    - @company_collections.each do |collection|
      .col-xs-12.book-box
        .row
          - if collection.created_at >= 3.days.ago.beginning_of_day
            %span.label.label-danger.tagclip New
          .col-xs-3
            = link_to lend_path(collection) do
              = image_tag collection.book.book_cover.url, class: 'img-responsive'
          .col-xs-9
            %h3.content-title= link_to collection.book.title, lend_path(collection)
            .read
              読まれた回数：
              = collection.book.read
            .rental
              レンタル回数
              = collection.book.rental
            -# TODO 欲しい機能の実装
              .wanted
                欲しい：
                = collection.book.wanted
  - else
    %tr
      %td 蔵書はありません
