.row
  .col-xs-9
    %h2 蔵書一覧
  .col-xs-3
    = link_to '蔵書を登録する', new_mypage_collection_path, class: 'btn btn-default'
  - flash.each do |key, value|
    .col-xs-12(class='alert alert-#{key}')
      = "#{value}"
  - if @collections.exists?
    - @collections.each do |collection|
      .col-xs-12.book-box
        .row
          - if collection.created_at >= 3.days.ago.beginning_of_day
            %span.label.label-danger.tagclip New
          .col-xs-3
            = image_tag collection.book.book_cover.url, class: 'img-responsive'
          .col-xs-9
            %h3.content-title= link_to collection.book.title, mypage_collection_path(collection)
            -# TODO 読まれた回数、欲しい、予約回数の実装
              .read
                読まれた回数：
                = collection.book.read
              .wanted
                欲しい：
                = collection.book.wanted
              .rental
                レンタル回数
                = collection.book.rental
  - else
    %tr
      %td 蔵書はありません
