.row
  - flash.each do |key, value|
    %div(class='alert alert-#{key}')
      = "#{value}"
  .col-xs-12
    %h2= @collection.book.title
  .col-xs-3
    = image_tag @collection.book.book_cover.url, class: 'img-responsive'
  .col-xs-9
    -# TODO 読まれた回数、欲しい、予約回数機能実装
      .read
        読まれた回数：
        = @collection.book.read
      .wanted
        欲しい：
        = @collection.book.wanted
      .rental
        れんたる回数：
        = @collection.book.rental
