-if @user.errors.any?
  .alert.alert-danger
    %ul
      - @user.errors.full_messages.each do |msg|
        %lu= msg
= form_for @user do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', required: true, placeholder: '山田 太郎'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control', required: true, placeholder: 'user@example.com'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control', required: true
  .form-group
    = f.label :password_confirmation, "Confirmation"
    = f.password_field :password_confirmation, class: 'form-control', required: true
  .form-group
    = f.label :image
    = image_tag @user.image.thumb.url if @user.image?
    = f.file_field :image
    = f.hidden_field :image_cache
    %p.help-block ※アップロードするファイルはjpg,jpeg,gif,pngのいずれかにしてください。
  .form-group
    = f.label :profile
    = f.text_area :profile, class: 'form-control', placeholder: '普段は技術書を読んでいますが、ビジネス系の本も興味があります。'
  = f.submit '登録する', class: 'btn btn-default'
