.row
  .col-xs-12
    %h2 ユーザ一覧
    - if @users
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th ユーザ名
            %th 蔵書
        %tbody
          - @users.each do |user|
            %tr
              %td.user-id
                = user.id
                - if user.image?
                  = link_to image_tag(user.image.thumb.url), user_path(user)
                - else
                  = link_to image_tag('noimage.jpg', size: '50x50'), user_path(user)
              %td.user-name= link_to user.name, user_path(user)
              %td.collections.bg-warning
                - if user.collections.present?
                  - user.collections.limit(3).each do |collection|
                    - if collection.book.book_cover?
                      = image_tag collection.book.book_cover.url, alt: collection.book.title, width: '50'
                    - else
                      = image_tag 'no_image_book.gif', alt: collection.book.title, width: '50'
                - else
                  蔵書の登録はありません。
        = paginate @users
    - else
      %p 登録しているユーザーはいません。
