.row
  .col-xs-12
    %h2 ユーザ一覧
    - if @users
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th ユーザ名
            %th 蔵書
        %tbody
          - @users.each do |user|
            %tr
              %td.user-id
                = user.id
                = link_to user.profile_image, user_path(user)
              %td.user-name= link_to user.name, user_path(user)
              %td.collections.bg-warning
                - if user.books.present?
                  - user.books.limit(3).each do |book|
                    - if book.book_cover?
                      = image_tag book.book_cover.url, alt: book.title, width: '50'
                    - else
                      = image_tag 'no_image_book.gif', alt: book.title, width: '50'
                - else
                  蔵書の登録はありません。
        = paginate @users
    - else
      %p 登録しているユーザーはいません。
