.container
  .row
    #contents
      .col-md-8
        .row
          %h2 プロフィール
          = image_tag @user.image.url, width: '70px'
          %table.table
            %tbody
              %tr
                %th ユーザ名
                %td.user-name= @user.name
              %tr
                %th 自己紹介
                %td.user-profile= @user.profile
          = link_to 'ユーザ一覧に戻る', users_path, class: "btn btn-default"
          = link_to 'プロフィールを編集する', edit_user_path(@user), class: "btn btn-default"

    #sidebar
      .col-md-4
        %h3.content-title News
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
