.container
  .row
    #contents
      .col-md-8
        .row
          %h2 News
          %table.table
            %tbody
              %tr
              %tr
                %th タイトル
                %td.news-title
                  = @news.title
                  %span.news-date= "(#{@news.created_at.to_formatted_s(:date)})"
              %tr
                %th 詳細
                %td.news-content= @news.content
          = link_to 'ニュース一覧に戻る', news_index_path, class: "btn btn-default"
