.row
  .col-xs-9
    %h2 蔵書一覧
  .col-xs-3
    - transition_path = signed_in? ? new_collection_path : login_path
    = link_to '蔵書を登録する', transition_path, class: 'btn btn-default'
  - if @books.exists?
    - @books.each do |book|
      .col-xs-12.book-box
        .row
          .col-xs-3
            = image_tag book.book_cover.url, class: 'img-responsive'
          .col-xs-9
            %h3.content-title= link_to book.title, book_path(book)
            -# TODO 読まれた回数、欲しい、予約回数機能実装
              .read
                読まれた回数：
                = book.read
              .wanted
                欲しい：
                = book.wanted
              .rental
                レンタル回数
                = book.rental
  - else
    %tr
      %td 蔵書はありません
