.row
  .col-xs-12
    %h2 蔵書登録
    - flash.each do |key, value|
      %div(class='alert alert-#{key}')
        = "#{value}"
  .col-xs-8
    = form_tag confirm_books_path, method: :post  do
      .form-group
        ASIN
        = text_field_tag 'asin', @asin, class: 'form-control', required: true, placeholder: '1234567890123'
        %span ※10〜13桁、ハイフンなしで入力してください
      = submit_tag '登録する', class: 'btn btn-default'
  .col-xs-12
    %h3 本の検索
    .search-area
      = form_tag new_book_path do
        .input-group
          = text_field_tag 'keyword', @keyword, class: 'form-control'
          %span.input-group-btn
            = submit_tag '検索', class: 'btn btn-default'
      - if @res.present? && @res.items.present?
        .search-results
          %table.table
            %thead
              %tr
                %th 本
                %th ASIN
                %th タイトル
            %tbody
              - @res.items.each do |i|
                %tr
                  %td
                    - book_image = i.get('MediumImage/URL') || 'no_image_book.gif'
                    = link_to i.get('DetailPageURL'), target: '_blank' do
                      = image_tag book_image, class: 'img-responsive'
                  %td= i.get('ASIN')
                  %td= i.get('ItemAttributes/Title')
      - else
        - if @keyword.present?
          = "キーワード：#{@keyword} に一致するものはありませんでした。"
