.row
  .col-xs-12
    %h2= @book.title
  .col-xs-3
    = image_tag "agile_rails.jpeg", class: 'img-responsive'
  .col-xs-9
    -# 読まれた回数、欲しい、予約回数機能実装
      .read
        読まれた回数：
        = @book.read
      .wanted
        欲しい：
        = @book.wanted
      .rental
        レンタル回数
        = @book.rental
