.row
  .col-xs-12
    %h2= @book.title
    - flash.each do |key, value|
      %div(class='alert alert-#{key}')
        = "#{value}"
  .col-xs-3
    = image_tag @book.book_cover.url, class: 'img-responsive'
  .col-xs-9.book-box
    -# TODO 読まれた回数、欲しい、予約回数機能実装
      .read
        読まれた回数：
        = @book.read
      .wanted
        欲しい：
        = @book.wanted
      .rental
        レンタル回数
        = @book.rental
    .bg-info.user-images
      - @book.collections.each do |collection|
        - if collection.user.image?
          = image_tag collection.user.image.thumb.url, class: 'img-responsive', alt: collection.user.name, title: collection.user.name
        - else
          = image_tag 'noimage.jpg', class: 'img-responsive', title: collection.user.name
    .btn-area
      - if signed_in?
        = link_to 'この本の感想を書く', new_review_path(book_id: @book), class: 'btn btn-default'
      - else
        = link_to 'この本の感想を書く', login_path, class: 'btn btn-default'