!!!
%html
  %head
    %title Isetan
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
  %body
    = render 'layouts/header'
    -if params[:controller] == 'front_pages'
      = render 'layouts/main_view'
    .container.contents-area
      .row
        .col-md-8#contents
          = yield
        .col-md-4#sidebar
          = render 'layouts/sidebar'
    / /.container
    = render 'layouts/footer'
    <!-- Bootstrap core JavaScript -->
    %script{src: "https://code.jquery.com/jquery.js"}
