!!!
%html
  %head
    %title Isetan
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
  %body
    = render 'layouts/header'
    .container.contents-area
      - flash.each do |key, value|
        %div(class='alert alert-#{key}')
          = "#{value}"
      -if params[:controller] == 'front_pages'
        = render 'layouts/main_view'
      .container
        .row
          #contents
            .col-md-8
              = yield
          #sidebar
            .col-md-4
              = render 'layouts/sidebar'
    / /.container
    = render 'layouts/footer'
    <!-- Bootstrap core JavaScript -->
    %script{src: "https://code.jquery.com/jquery.js"}
    = javascript_include_tag "bootstrap.min"
